
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------Index Page */


.index-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 200px;
}

.index-container {
    display: flex;
    max-width: 80rem;
    align-items: center;
    margin: auto;
}

.index-left {
    font-size: 50px;
    text-align: right;
    padding-right: 50px;
    padding-left: 50px;
}

.circle {
    border-radius: 50%;
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
}

.start {
    position: relative;
    top: 20px;
    left: 50%;
    font-size: 40px;
    width: 150px;
}