@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600&family=Single+Day&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------Index Page */


.index-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 150px;
}

.index-container {
    display: flex;
    max-width: 80rem;
    align-items: center;
    margin: auto;
}

.index-left {
    font-size: 50px;
    font-family: "single day", sans-serif;
    text-align: right;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
}

.index-right {
    text-align: center;
}

button {
    font-family: "rubik", sans-serif;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    border-color: cadetblue;
    border: 3px solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    margin: 20px;
    background-color: rgb(224, 216, 205);
}

button:hover {
    background-color: cadetblue;
}

.button:active {
    background-color: #84d5c0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

img {
    width: 200px;
}

/* ---------------- Media Queries */

@media only screen and (max-width: 480px) {
    .index-image {
        margin-top: 50px;
    }

    .index-left {
        font-size: 40px;
    }

}