@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600&family=Single+Day&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------Index Page */


.index-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 150px;
}

.index-container {
    display: flex;
    max-width: 80rem;
    align-items: center;
    margin: auto;
}

.index-left {
    font-size: 50px;
    font-family: "single day";
    text-align: right;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
}

.circle {
    border-radius: 50%;
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    box-shadow: 10px 5px 5px #999;
}

.start {
    position: relative;
    top: 20px;
    left: 50%;
    font-size: 40px;
    width: 200px;
    font-family: "rubik";
    color: rgb(174, 245, 221);
    -webkit-text-stroke: 1px black;
}

img {
    width: 200px;
}